#dc {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#clock {
	background-color: white;
	color: red;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	height: 75px;
	font-family: "Courier New", Courier;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	z-index: 10;
}

#clock:after {
	background-color: black;
	content: '';
	margin: 0 auto;
	width: 396px;
	top: 2px;
	bottom: 2px;
	right: 2px;
	left: 2px;
	border-color: black;
	border-radius: 5px;
	position: absolute;
	z-index: -1;
}